dotenv
openai
pydantic
langchain               
langchain-core          
langgraph               
langgraph-checkpoint    
langgraph-checkpoint-mongodb
langgraph-prebuilt
langchain-openai
langgraph-sdk           
langsmith               
fastapi
python-multipart
uvicorn
chromadb
fastembed
arize-phoenix-otel
openinference-instrumentation-langchain
opentelemetry-instrumentation-fastapi
pymongo
mutagen
