PISHKAR_B2B_DEMO_IFRAME_SRC=https://assistant-develop.mypishkar.ir/TaskList?mode=demo
PISHKAR_B2C_DEMO_IFRAME_SRC=https://assistant-develop.mypishkar.ir/
PISHKAR_API_URL=http://localhost:3000/api

NEXT_PUBLIC_SITE_URL=https://mypishkar.ir
PRODUCTION_HOSTS=mypishkar.ir,www.mypishkar.ir